//principales
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-de-fond: #f4f4f4;

//caractères
$textebold: bold;
$fontfamily: roboto;
$textecenter: center;